@use '@/styles/mixins.scss' as *;

.chat-page {
    @include flex-column;
    align-items: center;

    flex: 1;

    min-height: 0;

    padding: 0 var(--chat-x-padding);

    box-sizing: border-box;
}
