@use '@/styles/mixins.scss' as *;

//

.message-list {
    margin-top: 1em;
    margin-bottom: 2em;

    @include flex-column;

    gap: 1em;

    width: 100%;

    max-width: var(--chat-max-width);
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
}
