@use '@/styles/mixins.scss' as *;

.chat-box {
    @include flex-column;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-bottom: 3em;

    @include scrollableY;

    scrollbar-gutter: stable both-edges;
}

.message-input {
    bottom: 1.25em;
    max-width: var(--chat-max-width);
}
