@use '@/styles/mixins.scss' as *;

.profile-block {
    position: sticky;
    bottom: -1px;
    margin-top: auto;

    flex-shrink: 0;
    width: 100%;

    background-color: var(--foreground-color);

    border-top: 1px var(--hover-bg-color) solid;

    padding-top: 0.375em;
    padding-bottom: 0.5em;
}
.profile-button {
    @include flex-y-center;
    gap: 0.5em;

    background-color: transparent;

    width: 100%;
    height: 36px;

    border: 0;
    border-radius: 10px;

    padding: 0.375em 0.5em 0.375em 0.625em;
    box-sizing: border-box;

    cursor: pointer;

    &:hover {
        background-color: var(--hover-bg-color);
    }
    &:active {
        background-color: var(--active-btn-bg);
    }
    &:focus {
        background-color: var(--active-btn-bg);
    }
}
.profile-image {
    border-radius: 50%;
}
.name {
    color: var(--font-color);
    font-size: var(--m-font-size);
}
