@use '@/styles/mixins.scss' as *;

.head {
    @include flex-column;
    gap: 0.75em;

    padding-top: 0.5em;

    padding-bottom: 0.25em;
}
.sidebar-button:hover,
.sidebar-button:active {
    .sidebar-toggle-icon {
        display: block;
    }

    .none-letter-icon {
        display: none;
    }
}
.sidebar-toggle-icon {
    display: none;
}
.none-letter-icon {
    display: block;
}

.nav-buttons-block {
    @include flex-column;
    width: 100%;
}
.nav-button {
    @include flex-center;

    background-color: transparent;

    width: 36px;
    height: 36px;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    &:hover {
        background-color: var(--hover-bg-color);
    }
    &:active {
        background-color: var(--active-btn-dim-bg);
    }
}

.profile-block {
    margin-top: auto;
    padding-bottom: 0.5em;
}
.profile-button {
    &:focus {
        background-color: var(--active-btn-bg);
    }
}
.profile-image {
    border-radius: 50%;
}
