@use '@/styles/mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

.modal-backdrop {
    position: fixed;
    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    @include flex-center;

    padding: 1.5em;
    box-sizing: border-box;

    z-index: 100;

    &.type-blur {
        background-color: var(--modal-backdrop-bg);
        backdrop-filter: blur(1px);
    }
}

@media (max-width: map-get($media-breakpoints, small)) {
    .modal-backdrop {
        padding: 0;
    }
}
