@use '@/styles/mixins.scss' as *;

.settings-modal {
    display: flex;

    width: 100%;

    max-width: 680px;

    height: 100%;

    max-height: 600px;

    border-radius: 16px;

    overflow: hidden;
}

.navbar {
    @include flex-column;
    gap: 0.5em;

    width: 100%;
    max-width: 200px;

    background-color: var(--modal-fg-color);

    border-right: 2px var(--dim-secondary-border-color) solid;

    padding: 0.5em 0.6em;
    box-sizing: border-box;
}
.tab-active {
    background-color: var(--hover-bg-color);
}

.close-button {
    @include flex-center;

    width: 36px;
    height: 36px;

    background-color: transparent;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}

.setting-content {
    flex: 1;

    background-color: var(--background-color);

    padding: 0 1em;
    box-sizing: border-box;
}

.content-head {
    @include flex-y-center;

    height: 100%;
    max-height: 53px;

    border-bottom: 1px var(--border-color) solid;
}

.content-title {
    @include text-wo-margin(1.125rem);
    line-height: 1.5rem;
}

@media (max-width: 460px) {
    .settings-modal {
        max-width: initial;

        max-height: initial;

        border-radius: 0;
    }
}
