@use '@/styles/mixins.scss' as *;

html {
    &.navbar-opened {
        overflow: hidden;

        .main-content {
            flex-shrink: 0;
        }
    }
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;

    background-color: var(--background-color);

    color: var(--font-color);

    font-family: var(--font-inter-variable);

    overflow: hidden;
}

body * {
    font-family: var(--font-inter-variable);
}

.main-content {
    @include flex-column;

    width: 100%;
    height: 100%;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
    outline-color: var(--outline-color);
    outline-width: 0.5px;
    outline-offset: -1px;
}

// &&;
:root {
    // prefix "fg" means "foreground"
    --background-color: #212121;
    --tretiary-background-color: #2f2f2f;
    --foreground-color: #181818;
    --dark-foreground-color: #000000;

    --font-color: #ffffff;
    --secondary-font-color: #afafaf;

    --hover-bg-color: #303030;
    --light-hover-bg-color: #434343;
    --dim-hover-bg-color: #3a3a3a;

    --scrollbar-hover-bg-color: #c0c0c1;

    --active-bg-color: #ffffff0d;
    --active-btn-bg: #242424;
    --active-btn-dim-bg: #2c2c2c;

    --access-bg-color: #f9f9f9;
    --access-font-color: #0d0d0d;

    --border-color: #ffffff26;
    --secondary-border-color: #ffffff33;
    --light-border-color: #ffffff0d;
    --dim-secondary-border-color: #252525;
    --item-border-color: #2c2c2c;

    --input-bg-color: #303030;
    --input-box-shadow-color: #0000001c;

    --icon-color: #f3f3f3;

    --error-color: #e02e2a;

    --outline-color: #1a73e8;

    // MODAL WINDOWS
    --modal-bg-color: #2f2f2f;
    --light-modal-bg: #363636;
    --modal-fg-color: #1e1e1e;

    --modal-backdrop-bg: #00000080;

    --modal-box-shadow-color: #00000040;

    // CHAT
    --message-mine-bg-color: #2f2f2f;

    --chat-max-width: 700px;
    --chat-x-padding: 1em;

    // badge colors (for ChatTextArea UI component)
    --badge-purple-bg: #9162c025;
    --badge-purple-font-color: #9162c0;

    --badge-green-bg: #459d5d25;
    --badge-green-font-color: #459d5d;

    --badge-orange-bg: #d1802425;
    --badge-orange-font-color: #d18024;

    --badge-blue-bg: #3b88e925;
    --badge-blue-font-color: #3b88e9;

    // general sizes
    // prefix "d" means "default"
    // prefix "m" means "medium"
    --d-btn-padding: 0.375em 0.625em;
    --button-border-radius: 3.60282e18px;

    --d-font-size: 1rem;
    --m-font-size: 0.825rem;
}
