@use '@/styles/mixins.scss' as *;

.message-block {
    @include flex-column;
    gap: 0.25em;

    &:hover > .tool-buttons-block {
        opacity: 1;
        pointer-events: all;
    }

    &.mine {
        align-items: flex-end;
    }

    &.other {
        align-items: flex-start;
    }
}

.message-other {
    width: 100%;
}

.message-mine {
    background-color: var(--message-mine-bg-color);

    width: fit-content;
    max-width: 450px;

    border-radius: 18px;

    padding: 0.75em 1em;
    box-sizing: border-box;
}

.tool-buttons-block {
    display: flex;

    opacity: 0;

    pointer-events: none;

    transition: opacity 0.1s linear;
}

.tool-button {
    @include flex-center;

    width: 32px;
    height: 32px;

    background-color: transparent;

    border: none;
    border-radius: 8px;

    padding: 0;

    cursor: pointer;

    &:hover {
        background-color: var(--hover-bg-color);
    }
}
