@use '@/styles/mixins.scss' as *;

.chats-box {
    @include flex-column;
    gap: 0.25em;

    cursor: pointer;

    user-select: none;

    &:hover .accordion-icon {
        display: block;
    }
}

.title-block {
    @include flex-y-center;
    gap: 0.25em;

    padding: var(--d-btn-padding);
}
.title {
    @include text-wo-margin(0.775rem, 400);
    color: var(--secondary-font-color);
}

.accordion-icon {
    display: block;
    transform: rotate(-90deg);
}
.accordion-icon.active {
    display: none;
    transform: rotate(0);
}

.chat-list {
    @include flex-column;

    flex: 1;

    margin: 0;
    padding: 0;
}

.chat-link {
    list-style: none;
}
