@use '@/styles/mixins.scss' as *;

.select-button {
    @include flex-center;
    gap: 0.25em;

    height: 36px;

    background-color: transparent;

    border: none;
    border-radius: 8px;

    padding: 0 0.75rem;

    box-sizing: border-box;

    cursor: pointer;

    &:hover {
        background-color: var(--light-hover-bg-color);
    }
}

.title {
    font-size: var(--m-font-size);
    color: var(--font-color);
}
