@use '@/styles/mixins.scss' as *;

.primary-button {
    @include flex-y-center;
    justify-content: space-between;
    gap: 0.5em;

    width: 100%;
    height: 32px;

    background-color: transparent;

    border: none;
    border-radius: 10px;

    padding: var(--d-btn-padding);
    box-sizing: border-box;

    font-size: 1rem;

    cursor: pointer;

    &:hover {
        background-color: var(--hover-bg-color);

        & > .subtitle {
            display: block;
        }
    }

    &:active {
        background-color: var(--active-btn-bg);
    }
    &:disabled {
        opacity: 0.8;
        &:hover {
            background-color: transparent;
        }
    }
}
.title-block {
    @include flex-y-center;
    gap: 0.5em;
}

.title {
    color: var(--font-color);
    font-size: var(--m-font-size);
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subtitle {
    display: none;

    color: var(--secondary-font-color);
    font-size: var(--m-font-size);
    font-family: var(--font-geist-sans);
    white-space: nowrap;
}
