@use '@/styles/mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

.header {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 52px;

    background-color: var(--background-color);

    border-bottom: 1px var(--active-btn-dim-bg) solid;

    padding: 0.5em;

    box-sizing: border-box;

    z-index: 1;
}
.open-sidebar-button {
    @include flex-center;

    width: 36px;
    height: 36px;

    background: transparent;

    border: none;
    border-radius: 6px;

    cursor: pointer;

    display: none;
}

@media (max-width: map-get($media-breakpoints, small)) {
    .open-sidebar-button {
        display: flex;
    }
}
