@use '@/styles/mixins.scss' as *;

.input-block {
    @include flex-column;

    gap: 0.25rem;

    width: 100%;

    border: 1px var(--border-color) solid;

    border-radius: 6px;

    padding: 0.5rem 0.75rem;

    box-sizing: border-box;

    --block-outline-color: var(--font-color);

    &:focus-within {
        outline: 1px var(--block-outline-color) solid;
    }
    &[aria-invalid='true'] {
        border: 1px var(--error-color) solid;

        --block-outline-color: var(--error-color);
    }
}

.title {
    font-size: 0.75rem;
    color: white;
}

.input {
    background-color: transparent;

    border: none;
    outline: none;

    padding: 0;

    color: var(--font-color);
    font-size: var(--m-font-size);

    &:placeholder-shown {
        color: var(--secondary-font-color);
    }
}
