@use '@/styles/mixins.scss' as *;

.account-settings {
    @include flex-column;

    align-items: center;

    gap: 1.5em;

    margin-top: 3rem;
}

.image-block {
    position: relative;

    cursor: pointer;
}

.image {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.camera-icon-block {
    position: absolute;
    right: 0.375em;
    bottom: 0.375em;

    @include flex-center;

    width: 28px;
    height: 28px;

    background-color: var(--background-color);

    border: 1px var(--border-color) solid;
    border-radius: 50%;
}

.account-form {
    width: 80%;
}

.input-group {
    @include flex-column;
    gap: 0.5rem;
}

.notice {
    margin-top: 0.5rem;
    margin-bottom: 0;

    font-size: 0.75rem;
    color: var(--secondary-font-color);
}

.access-button {
    margin-top: 1rem;
    width: 100%;
}
