@use '@/styles/mixins.scss' as *;

.account-settings {
    @include flex-column;

    align-items: center;

    gap: 1.5em;

    margin-top: 3rem;
}

.image-block {
    position: relative;

    cursor: pointer;
}

.image {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.camera-icon-block {
    position: absolute;
    right: 0.375em;
    bottom: 0.375em;

    @include flex-center;

    width: 28px;
    height: 28px;

    background-color: var(--background-color);

    border: 1px var(--border-color) solid;
    border-radius: 50%;
}

.account-form {
    width: 80%;
}
