@use '@/styles/mixins.scss' as *;

.account-settings {
    @include flex-column;

    align-items: center;

    gap: 1.5em;

    margin-top: 3rem;
}

.account-form {
    width: 80%;

    @include flex-column;
    align-items: center;
}

.input-group {
    margin-top: 1.5em;

    @include flex-column;
    gap: 0.5rem;

    width: 100%;
}

.notice {
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 100%;

    font-size: 0.75rem;
    color: var(--secondary-font-color);
}

.access-button {
    margin-top: 1rem;
    width: 100%;
}
