@use '@/styles/mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

.navbar {
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    padding-left: 0.5em;
    padding-right: 0.5em;

    box-sizing: border-box;

    transition: max-width 0.25s ease, background-color 0.25s ease;

    z-index: 100;
}
.navbar-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--modal-backdrop-bg);

    z-index: 60;
}

.full-navbar {
    max-width: 260px;
    background-color: var(--foreground-color);

    @include scrollableY();
}

.cut-navbar {
    max-width: 52px;

    border-right: 1px var(--light-border-color) solid;
}

.navbar-content {
    @include flex-column;
    gap: 0.8em;

    height: 100%;
}

.sidebar-button {
    @include flex-center;

    background-color: transparent;
    border: none;
    border-radius: 8px;

    width: 36px;
    height: 36px;

    cursor: ew-resize;

    &:hover {
        background-color: var(--dim-hover-bg-color);
    }
    &:active {
        background-color: var(--active-btn-dim-bg);
    }
}

@media (max-width: map-get($media-breakpoints, small)) {
    .navbar {
        position: fixed;
    }
}
